<div class="container-fluid" ng-controller="GaugeCtrl">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    jQuery Beer Meter
                </div>
                <div class="panel-body">
                    <canvas id="foo"></canvas>
                </div>
               <div class="panel-footer">
                   <form id="opts" class="opts" name="gaugeForm">
                       <label>Current Val: </label>
                       <input type="number" ng-model="demoValue" name="currval"><br>
                   </form>
               </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Directive Beer Meter
                </div>
                <div class="panel-body">
                    <canvas gauge-js options="demoOptions" ng-model="demoValue"></canvas>
                </div>
                <div class="panel-footer">
                    <form id="opts" class="opts" name="gaugeForm">
                        <label>Current Val: </label>
                        <input type="number" ng-model="demoValue" name="currval"><br>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->

    </div>
</div>